<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <script src="{% static 'data_query/js/jquery-3.1.0.js' %}"></script>
    <script src="{% static 'data_query/js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'data_query/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'data_query/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'data_query/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'data_query/css/bootstrap-theme.css' %}">
    <script src="{% static 'data_query/js/bootstrap.js' %}"></script>
    <script src="{% static 'data_query/js/bootstrap.min.js' %}"></script>
    <title>首页</title>
</head>

<body>
    <div class="container-fluid">
        <div class="header">
            <div class="header-left"><span>运维管理平台</span></div>
        </div>
        <div class="row">
          <div class="col-md-2">
              <ul class="list-group">
                <li class="list-group-item">数据查询</li>
              </ul>
          </div>
          <div class="col-md-10">
              <div class="title">数据查询</div>

          </div>
        </div>
    </div>
</body>
</html>